<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/assets/css/main.css">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css">
    <script src="https://code.jquery.com/jquery-3.7.0.slim.js" integrity="sha256-7GO+jepT9gJe9LB4XFf8snVOjX3iYNb0FHYr5LI1N5c=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    {% assign navtitle = page.title %}
    {% if page.navtitle %}
        {% assign navtitle = page.navtitle %}
    {% endif %}

    {% if navtitle %}
    <title>{{ site.title }}:/{{ navtitle }}</title>
    <meta content="{{ site.title }}:/{{ navtitle }}" property="og:title" />
    {% else %}
    <title>{{ site.title }}</title>
    <meta content="{{ site.title }}" property="og:title" />
    {% endif %}

    <meta content="{{ page.excerpt }}" property="og:description" />
    <meta content="#d82148" data-react-helmet="true" name="theme-color" />
</head>
<body>
    <a rel="me" href="https://lethallava.land/@codist"></a>

    <div class="container">
        {% if page.hide_header != true %}
            {% include header.html %}
        {% endif %}
        
        <div {% if page.in_content != false %}class="content"{% endif %}>
            {{ content }}
        </div>

        {% if page.hide_footer != true %}
            {% include footer.html %}
        {% endif %}
    </div>
</body>
</html>